.main{
    .main__contenido{
        .main__contenido__contacto{
            .main__contenido__contacto--grid{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 400px 1fr;
                grid-template-areas: "informacion formulario"
                                     "ubicacion ubicacion";
                justify-items: center;
                align-items: center;
                padding: 20px;
                @media only screen and (max-width: 995px){
                    grid-template-columns: 1fr;
                    grid-template-rows: 400px 300px 1fr;
                    grid-template-areas: "informacion"
                                         "formulario"
                                         "ubicacion"
                }
                
                .main__contenido__contacto__informacion{
                    grid-area: informacion;
                    padding: 20px;
                    background-color: $blanco;
                    width: 90%;
                    height: 100%;
                    @media only screen and (max-width: 995px){
                        width: 95%;
                        margin-top: 20px;
                    }
                }
                
                .main__contenido__contacto__formulario{
                    grid-area: formulario;
                    padding: 20px;
                    background-color: $blanco;
                    width: 90%;
                    height: 100%;
                    @media only screen and (max-width: 995px){
                        width: 95%;
                        margin-top: 20px;
                    }

                    #main__contenido__contacto__formulario--form{
                        display: flex;
                        justify-content: center;
                        align-self: center;
                        flex-wrap: wrap;

                        #form--nombre{
                            width: 40%;
                            margin: 5px;
                            padding: 5px;
                            border-radius: 10px;
                        }

                        #form--correo{
                            width: 40%;
                            margin: 5px;
                            padding: 5px;
                            border-radius: 10px;
                        }

                        #form--descripcion{
                            width: 82%;
                            height: 100px;
                            margin: 5px;
                            padding: 5px;
                            border-radius: 10px;
                        }

                        #form--enviar{
                            width: 82%;
                            margin: 5px;
                            padding: 5px;
                        }
                    }
                }

                .main__contenido__contacto__ubicacion{
                    grid-area: ubicacion;
                    padding: 20px;
                    margin-top: 20px;
                    background-color: $blanco;
                    width: 95%;
                    height: 100%;
                }
            }
        }
    }
}