$fondoRedes:(
    twitter: #1d9bf0,
    facebook: #4867aa,
    instagram: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%),
);

$estilosRedes:(
    font-size: 30px,
    border-radius: 15px,
    color: white
);

@mixin paddingYMargin($padding, $margin) {
    padding: $padding;
    margin: $margin;
}

.footer{
    background-color: #d8d4d5;
    padding: $padding20px;

    border-top: 1px solid $negro;
    .footer__redes{
        text-align: center;
        .footer__redes__titulo{
            display: inline-block;
            font-size: 30px;
            padding-right: 30px;
            @media only screen and (max-width: 495px){
                padding-right: 0;
            } 
        }
        @each $red, $background in $fondoRedes {
            .footer__redes__#{$red}{
                background: $background;
            }
        }
        .footer__redes__twitter{
            font-size: map-get($estilosRedes, font-size);
            border-radius: map-get($estilosRedes, border-radius);
            color: map-get($estilosRedes, color);
            @include paddingYMargin(10px, 10px);
        }
        .footer__redes__facebook{
            @extend .footer__redes__twitter;
        }
        .footer__redes__instagram{
            @extend .footer__redes__twitter;
        }
    }
    .footer__copyrigth{
        .footer__copyrigth__texto{
            padding-top: 10px;
            margin-bottom: 0px;
            text-align: $valorCentro;
        }
    }
}