.header {
    background-color: $azul;
    color: $blanco;
    position: sticky;
    padding: 10px;
    .navbar {
        .navbar-collapse {
            justify-content: end;
            align-items: center;
            .header__navegacion__lista {
                list-style: none;
                .nav-item {
                    .header__navegacion__lista__elemento {
                        color: $blanco;
                        border-radius: 10px;
                        transition: all 0.5s;

                        &:hover{
                            color: $blanco;
                            background-color: $azulOscuro;
                        }
                    }
                }
            }
        }
    }
}