.main{
    .main__contenido{
        .main__contenido--grid{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            grid-template-areas: "buscador titulo";

            width: 100%;
            padding: $padding20px;
            @media only screen and (max-width: 930px){
                display: contents;
            }
            .main__contenido__titulo{
                grid-area: titulo;
                justify-self: $valorCentro;
            }
            .main__contenido__buscador{
                grid-area: buscador;
                justify-self: $valorCentro;
                background: $blanco;
                width: 70%;
                border-radius: 10px;
                cursor: pointer;
                transition: .2s ease all;
                padding: 15px;
                border: 2px solid transparent;
                &:hover{
                    box-shadow: 0px 5px 10px rgba(0, 0, 0, .16);
                    border: 2px solid #213f8f;
                }
            }
        }
        .main__contenido__productos{
            flex-wrap: wrap;
        }
    }
}

.producto {
    transition: all 1s;
    width: 80%;
    @media only screen and (max-width: 991px){
        width: 100%;
    }
    &:hover{
        transform: scale(1.1, 1.1);
    }
    @media only screen and (max-width: 767px){
        padding: 0;
    }
    @media only screen and (max-width: 540px){
        padding: 30px;
    }
    .producto__info{
        .producto__info--grid{
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            grid-template-areas: "img nombre nombre"
                                "img precio comprar";
            @media only screen and (max-width: 767px){
                grid-template-rows: 1fr 120px;
                grid-template-areas: "img nombre"
                                     "precio comprar";
            }
            @media only screen and (max-width: 540px){
                grid-template-columns: 1fr;
                grid-template-areas: "img"
                                     "nombre"
                                     "precio"
                                     "comprar";
                border: 1px solid black;
                padding: 5px;
            }
            .producto__img{
                grid-area: img;
                justify-self: center;
                img{
                    width: 100%;
                    height: 100%;
                }
            }

            .producto__info__nombre{
                grid-area: nombre;
                align-self: center;
                font-size: 20px;
                margin: 0;
                @media only screen and (max-width: 540px){
                    text-align: center;
                }
            }

            .producto__info__precio{
                grid-area: precio;
                justify-self: center;
                align-self: center;
                font-size: 20px;
                margin: 0;
                @media only screen and (max-width: 767px){
                    align-self: start;
                }
            }

            .producto__info__comprar{
                grid-area: comprar;
                justify-self: center;
                align-self: center;
                height: 50%;
                @media only screen and (max-width: 767px){
                    height: 40%;
                    align-self: start;
                }
                @media only screen and (max-width: 540px){
                    height: 100%;
                }
            }
        }
    }
}