.main{
    .main__contenido{
        .main__contenido--sobreNosotros{
            padding-top: $padding20px;
            .main__contenido__titulo{
                text-align: $valorCentro;
            }
            .main__contenido__texto{
                padding-top: $padding20px;
                text-align: justify;
            }
        }

        .main__contenido__servicio__titulo{
            padding-top: $padding20px;
            grid-area: titulo;
            text-align: $valorCentro;
            align-self: $valorCentro;
        }
        .main__contenido__servicio{
            padding-top: $padding20px;
            width: 100%;

            display: flex;
            justify-content: $valorCentro;
            align-items: $valorCentro;
            flex-direction: column;
            .main__contenido__servicio--grid{
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-areas: "calidad precio";

                justify-items: $valorCentro;
                width: 70%;
                @media only screen and (max-width: 990px){
                    display: flex;
                    flex-direction: column;
                    justify-content: $valorCentro;
                    align-items: $valorCentro;
                }
                .main__contenido__servicio__calidad{
                    grid-area: calidad;
                }
                .main__contenido__servicio__precio{
                    grid-area: precio;
                }
            }
        }

        .main__contenido__marcas{
            margin-top: 50px;
            .main__contenido__marcas__titulo{
                text-align: $valorCentro;
            }
            .main__contenido__marcas--marcas{
                display: flex;
                flex-wrap: wrap;
                justify-content: $valorCentro;
                align-items: $valorCentro;
                .marca{
                    padding: 30px;
                }
            }
        }
    }
}